/*
**  ██████╗  ██████╗       ██╗ ██████╗   ██████╗ ████████╗ ██████╗  ██████╗
**  ██╔══██╗ ╚════██╗      ██║ ╚════██╗ ██╔════╝ ╚══██╔══╝ ╚════██╗ ██╔══██╗
**  ██████╔╝  █████╔╝      ██║  █████╔╝ ██║         ██║     █████╔╝ ██║  ██║
**  ██╔══██╗  ╚═══██╗ ██   ██║  ╚═══██╗ ██║         ██║     ╚═══██╗ ██║  ██║
**  ██║  ██║ ██████╔╝ ╚█████╔╝ ██████╔╝ ╚██████╗    ██║    ██████╔╝ ██████╔╝
**  ╚═╝  ╚═╝ ╚═════╝   ╚════╝  ╚═════╝   ╚═════╝    ╚═╝    ╚═════╝  ╚═════╝
*/

form {
  width: 380px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc;
  background-color: #FDFDFD;
  padding-bottom: 0px;
}

#copiedPopUp {
  margin-top: 50px;
  text-align: center;
}

input[type=submit] {
  margin-top: 45px;
  margin-bottom: 15px;
  margin-left: 75%;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-image: url("../images/icon.png");
  background-size: cover;
  outline-style: none;
  border: none;
}

@media screen and (max-width: 767px) {
  input[type=submit] {
    margin-left: auto;
  }
}

.generateButtonHolder {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], input[type=password] {
  height: 40px !important;
}

.input-group {
  width: 330px;
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

/* Disable animation on focus */

.input-group .btn, .input-group .form-control {
  -moz-transition: none 1s;
  -o-transition: none 1s;
  -webkit-transition: none 1s;
  transition: none 1s;
}

.input-group.prev-input-group {
  width: 330px;
  margin-top: 35px;
}

.input-group.prev-input-group .form-control {
  float: right;
  width: 290px;
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 0;
  background-color: #FDFDFD;
  color: #95989A;
}

.input-group.prev-input-group .form-control+span .btn {
  border-top-left-radius: 4px;
  border-width: 1px 0 1px 1px;
  border-bottom-left-radius: 4px;
  background-color: #FAFAFA;
  color: #EF574B;
}

.input-group.prev-input-group .form-control+span #passwordButton {
  background-image: url("../images/glyphicons/unlock.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  outline-style: none;
}

.input-group.prev-input-group .form-control+span #usernameButton {
  background-image: url("../images/glyphicons/user.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  pointer-events: none;
}

.input-group.prev-input-group .form-control+span #serviceButton {
  background-image: url("../images/glyphicons/cloud.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  pointer-events: none;
}

.input-group.prev-input-group .form-control+span #newButton {
  background-image: url("../images/glyphicons/lock.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  outline-style: none;
}

.input-group.prev-input-group .form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #cccccc;
  border-bottom: 2px solid #EF574B;
}

.input-group.prev-input-group .form-control:focus+.input-group-btn .btn {
  outline: 0;
  background-color: #EF574B;
  color: #FAFAFA;
  border-color: #EF574B;
  border-bottom: 2px solid #EF574B;
}

.input-group.prev-input-group .form-control:focus+.input-group-btn #passwordButton {
  background-image: url("../images/glyphicons/eyeFocus.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  outline-style: none;
}

.input-group.prev-input-group .form-control:focus+.input-group-btn #usernameButton {
  background-image: url("../images/glyphicons/userFocus.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.input-group.prev-input-group .form-control:focus+.input-group-btn #serviceButton {
  background-image: url("../images/glyphicons/cloudFocus.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.input-group.prev-input-group .form-control:focus+.input-group-btn #newButton {
  background-image: url("../images/glyphicons/lockFocus.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

.input-group.prev-input-group .input-group-btn {
  float: left;
  width: 40px;
  height: 40px;
}

.input-group.prev-input-group .input-group-btn .btn {
  margin: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .input-group-btn .btn:hover {
  border-color: #ccc;
  background-color: inherit;
}
